<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Find Nearest Disaster Location</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    /* Necessary styling for map container */
    #map {
      background: #CCC;
      height: 400px; /* Adjust the height as needed */
    }
  </style>

</head>
<body>
    <h1>輸入現在位置</h1>
    <form method="post">
        <input type="text" name="current_address" placeholder="輸入現在位置">
        <input type="submit" value="搜尋最近的災害位置">
    </form>

    {% if closest_location_info and distance_info %}
    <h2>結果:</h2>
    <p>{{ closest_location_info }}</p>
    <p>{{ distance_info }}</p>
    {% endif %}

    <h2>上傳新的災害位置</h2>
    <form method="post">
        <input type="text" name="new_address" placeholder="輸入災害位置">
        <input type="submit" value="更新">
    </form>

    <h2>所有災害地點</h2>
    <ul>
        {% for location in chinese_address_list %}
     <li>{{ location }}</li>
        {% endfor %}
    </ul>

    <h3>My Google Maps Demo</h3>
    <div class="container">
        <div class="row">
          <div class="col">
            <div id="map"></div>
          </div>
        </div>
    </div>

    <!-- Google Maps API with your API Key -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcI0vxTU33OBI8IlG5UUjeOtEvbg9Fh2g&callback=initMap" async defer></script>

  <!-- JavaScript to initialize the map -->
  <script>
    let map;

    function initMap() {
      // Set the default location (Taipei City Hall Theater)
      const location = { lat: 25.0374865, lng: 121.5647688 };

      // Create the map
      map = new google.maps.Map(document.getElementById('map'), {
        center: location,
        zoom: 16,
        mapTypeId: 'terrain'
      });

      

      // Place a marker
      const marker = new google.maps.Marker({
        position: location,
        map: map
      });
    }
  </script>

</body>
</html>
